.elementor-bc-flex-widget .elementor-8 .elementor-element.elementor-element-ae7a7fe.elementor-column .elementor-column-wrap{align-items:center;}.elementor-8 .elementor-element.elementor-element-ae7a7fe.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-8 .elementor-element.elementor-element-6818847 .elementor-spacer-inner{height:50px;}.elementor-8 .elementor-element.elementor-element-450f304.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-8 .elementor-element.elementor-element-450f304 .elementor-heading-title{font-family:"Source Serif Pro", Sans-serif;font-size:36px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-element-d25fffb{color:#000000;font-family:"Source Sans Pro", Sans-serif;font-size:17px;line-height:1.4em;}.elementor-8 .elementor-element.elementor-element-d25fffb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-8 .elementor-element.elementor-element-94f4ba9 a.elementor-button, .elementor-8 .elementor-element.elementor-element-94f4ba9 .elementor-button{font-family:"Source Sans Pro", Sans-serif;font-weight:600;text-transform:uppercase;background-color:#000000;padding:1em 2em 1em 2em;}.elementor-8 .elementor-element.elementor-element-dd75387 .elementor-spacer-inner{height:50px;}.elementor-8 .elementor-element.elementor-element-2e8dac1{text-align:right;}.elementor-8 .elementor-element.elementor-element-b8d51ec .elementor-spacer-inner{height:50px;}.elementor-8 .elementor-element.elementor-element-6ec6a92 .elementor-spacer-inner{height:50px;}.elementor-8 .elementor-element.elementor-element-09df5c0{text-align:center;}.elementor-8 .elementor-element.elementor-element-09df5c0.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-8 .elementor-element.elementor-element-09df5c0 .elementor-heading-title{font-family:"Source Serif Pro", Sans-serif;font-size:45px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-element-a5d06d4 .elementor-spacer-inner{height:24px;}.elementor-8 .elementor-element.elementor-element-aa6f2c1{color:#919191;font-family:"Nunito Sans", Sans-serif;font-size:20px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-element-aa6f2c1 > .elementor-widget-container{padding:17px 52px 19px 84px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#dbdbdb;border-radius:2px 2px 2px 2px;box-shadow:0px 5px 10px -3px rgba(0,0,0,0.23);}.elementor-8 .elementor-element.elementor-global-79{color:#919191;font-family:"Nunito Sans", Sans-serif;font-size:20px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-global-79 > .elementor-widget-container{padding:17px 52px 19px 84px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#dbdbdb;border-radius:2px 2px 2px 2px;box-shadow:0px 5px 10px -3px rgba(0,0,0,0.23);}.elementor-8 .elementor-element.elementor-element-df9568b{color:#919191;font-family:"Nunito Sans", Sans-serif;font-size:20px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-element-df9568b > .elementor-widget-container{padding:17px 52px 19px 84px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#dbdbdb;border-radius:2px 2px 2px 2px;box-shadow:0px 5px 10px -3px rgba(0,0,0,0.23);}.elementor-8 .elementor-element.elementor-element-58001b1{color:#919191;font-family:"Nunito Sans", Sans-serif;font-size:20px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-element-58001b1 > .elementor-widget-container{padding:17px 52px 19px 84px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#dbdbdb;border-radius:2px 2px 2px 2px;box-shadow:0px 5px 10px -3px rgba(0,0,0,0.23);}.elementor-8 .elementor-element.elementor-element-c1d9223{color:#919191;font-family:"Nunito Sans", Sans-serif;font-size:20px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-element-c1d9223 > .elementor-widget-container{padding:17px 52px 19px 84px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#dbdbdb;border-radius:2px 2px 2px 2px;box-shadow:0px 5px 10px -3px rgba(0,0,0,0.23);}.elementor-8 .elementor-element.elementor-element-f66f95f{color:#919191;font-family:"Nunito Sans", Sans-serif;font-size:20px;line-height:1.2em;}.elementor-8 .elementor-element.elementor-element-f66f95f > .elementor-widget-container{padding:17px 52px 19px 84px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#dbdbdb;border-radius:2px 2px 2px 2px;box-shadow:0px 5px 10px -3px rgba(0,0,0,0.23);}@media(min-width:768px){.elementor-8 .elementor-element.elementor-element-ae7a7fe{width:49.298%;}.elementor-8 .elementor-element.elementor-element-440dc4d{width:50.702%;}}@media(max-width:1024px){.elementor-8 .elementor-element.elementor-element-027d2bc{padding:0em 1em 0em 1em;}.elementor-8 .elementor-element.elementor-element-cc77e94{padding:0em 1em 0em 1em;}.elementor-8 .elementor-element.elementor-element-aa6f2c1{font-size:16px;}.elementor-8 .elementor-element.elementor-element-aa6f2c1 > .elementor-widget-container{padding:17px 29px 0px 84px;}.elementor-8 .elementor-element.elementor-global-79{font-size:16px;}.elementor-8 .elementor-element.elementor-global-79 > .elementor-widget-container{padding:17px 29px 0px 84px;}.elementor-8 .elementor-element.elementor-element-df9568b{font-size:16px;}.elementor-8 .elementor-element.elementor-element-df9568b > .elementor-widget-container{padding:17px 29px 0px 84px;}.elementor-8 .elementor-element.elementor-element-58001b1{font-size:16px;}.elementor-8 .elementor-element.elementor-element-58001b1 > .elementor-widget-container{padding:17px 29px 0px 84px;}.elementor-8 .elementor-element.elementor-element-c1d9223{font-size:16px;}.elementor-8 .elementor-element.elementor-element-c1d9223 > .elementor-widget-container{padding:17px 29px 0px 84px;}.elementor-8 .elementor-element.elementor-element-f66f95f{font-size:16px;}.elementor-8 .elementor-element.elementor-element-f66f95f > .elementor-widget-container{padding:17px 29px 0px 84px;}}@media(max-width:767px){.elementor-8 .elementor-element.elementor-element-6818847 .elementor-spacer-inner{height:21px;}.elementor-8 .elementor-element.elementor-element-09df5c0 .elementor-heading-title{font-size:33px;line-height:1em;}.elementor-8 .elementor-element.elementor-element-a5d06d4 .elementor-spacer-inner{height:10px;}.elementor-8 .elementor-element.elementor-element-aa6f2c1 > .elementor-widget-container{padding:10px 0px 0px 56px;}.elementor-8 .elementor-element.elementor-global-79 > .elementor-widget-container{padding:10px 0px 0px 56px;}.elementor-8 .elementor-element.elementor-element-df9568b > .elementor-widget-container{padding:10px 0px 0px 56px;}.elementor-8 .elementor-element.elementor-element-58001b1 > .elementor-widget-container{padding:10px 0px 0px 56px;}.elementor-8 .elementor-element.elementor-element-c1d9223 > .elementor-widget-container{padding:10px 0px 0px 56px;}.elementor-8 .elementor-element.elementor-element-f66f95f > .elementor-widget-container{padding:10px 0px 0px 56px;}}/* Start custom CSS for text-editor, class: .elementor-element-aa6f2c1 */.elementor-8 .elementor-element.elementor-element-aa6f2c1 {
    position: relative;
}
.elementor-8 .elementor-element.elementor-element-aa6f2c1::before{
    display: block;
    content:"";
    background: rgba(0,0,0,0.06);
    width: 18px;
    height: 80px;
    position: absolute;
    top: 43px;
    left: 43px;
    transform: translateX(-50%);
}
@media screen and (max-width:768px){
.elementor-8 .elementor-element.elementor-element-aa6f2c1::before{
    top: 36px;
    left: 30px;
}
}

.elementor-8 .elementor-element.elementor-element-aa6f2c1 .elementor-widget-container {
    height: 224px;
}/* End custom CSS */
/* Start custom CSS for global, class: .elementor-global-79 */.elementor-8 .elementor-element.elementor-global-79 {
    position: relative;
}
.elementor-8 .elementor-element.elementor-global-79::before{
    display: block;
    content:"";
    background: rgba(0,0,0,0.06);
    width: 18px;
    height: 80px;
    position: absolute;
    top: 43px;
    left: 43px;
    transform: translateX(-50%);
}
@media screen and (max-width:768px){
.elementor-8 .elementor-element.elementor-global-79::before{
    top: 36px;
    left: 30px;
}
}

.elementor-8 .elementor-element.elementor-global-79 .elementor-widget-container {
    height: 224px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-df9568b */.elementor-8 .elementor-element.elementor-element-df9568b {
    position: relative;
}
.elementor-8 .elementor-element.elementor-element-df9568b::before{
    display: block;
    content:"";
    background: rgba(0,0,0,0.06);
    width: 18px;
    height: 80px;
    position: absolute;
    top: 43px;
    left: 43px;
    transform: translateX(-50%);
}
@media screen and (max-width:768px){
.elementor-8 .elementor-element.elementor-element-df9568b::before{
    top: 36px;
    left: 30px;
}
}

.elementor-8 .elementor-element.elementor-element-df9568b .elementor-widget-container {
    height: 224px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-58001b1 */.elementor-8 .elementor-element.elementor-element-58001b1 {
    position: relative;
}
.elementor-8 .elementor-element.elementor-element-58001b1::before{
    display: block;
    content:"";
    background: rgba(0,0,0,0.06);
    width: 18px;
    height: 80px;
    position: absolute;
    top: 43px;
    left: 43px;
    transform: translateX(-50%);
}
@media screen and (max-width:768px){
.elementor-8 .elementor-element.elementor-element-58001b1::before{
    top: 36px;
    left: 30px;
}
}

.elementor-8 .elementor-element.elementor-element-58001b1 .elementor-widget-container {
    height: 224px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-c1d9223 */.elementor-8 .elementor-element.elementor-element-c1d9223 {
    position: relative;
}
.elementor-8 .elementor-element.elementor-element-c1d9223::before{
    display: block;
    content:"";
    background: rgba(0,0,0,0.06);
    width: 18px;
    height: 80px;
    position: absolute;
    top: 43px;
    left: 43px;
    transform: translateX(-50%);
}
@media screen and (max-width:768px){
.elementor-8 .elementor-element.elementor-element-c1d9223::before{
    top: 36px;
    left: 30px;
}
}

.elementor-8 .elementor-element.elementor-element-c1d9223 .elementor-widget-container {
    height: 224px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-f66f95f */.elementor-8 .elementor-element.elementor-element-f66f95f {
    position: relative;
}
.elementor-8 .elementor-element.elementor-element-f66f95f::before{
    display: block;
    content:"";
    background: rgba(0,0,0,0.06);
    width: 18px;
    height: 80px;
    position: absolute;
    top: 43px;
    left: 43px;
    transform: translateX(-50%);
}
@media screen and (max-width:768px){
.elementor-8 .elementor-element.elementor-element-f66f95f::before{
    top: 36px;
    left: 30px;
}
}

.elementor-8 .elementor-element.elementor-element-f66f95f .elementor-widget-container {
    height: 224px;
}/* End custom CSS */